<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= message %></h1>
  <div class="card" style="width: 18rem;">
    <img src="/morango.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SORVETE KIBON</h5>
      <p class="card-text">Sorvete Tentação Kibon Cremosíssimo Pote 1,5l</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/creme.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">SORVETE KIBON</h5>
      <p class="card-text">Sorvete Creme Kibon Pote 1,5L</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
</div>
<div class="col">
 
</body>
</html>